# Cấu hình giao diện ST-Link
interface stlink
transport select hla_swd

# Cấu hình chip STM32F411
source [find target/stm32f4x.cfg]

# Kích hoạt SWO
tcl_port disabled
telnet_port disabled
gdb_port 3333

monitor semihosting enable
monitor arm semihosting_fileio enable

#ghi ra file thông qua semihosing
monitor arm semihosting redirect output.txt

# Cấu hình SWO (tần số CPU = 16 MHz, SWO baud rate = 2 MHz)
hla_swo enable 16000000 2000000

# Lệnh khởi tạo
init
reset init